/*--------------------------------------------------------------
# Start Fichier Style.css
--------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    

html{
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.section-title h1{
   
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
    
}
.section-title h1:before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color:#fe4a49  ;
    bottom: 0px;
}
.text-center{
    text-align: center!important;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/


header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 11;
}

header.fixed{
    background-color: #ffffff;
    
    position: fixed;
    border-color: #eeeeee;
    animation: fixHeader .5s ease;
    z-index: 11;
}
@keyframes fixHeader{
    0%{
        transform: translateY(-100%);opacity: 0;
    }
     100%{
        transform: translateY(-0%);
    }
}
header .row{
    justify-content:  space-between;
    align-items: center;
}
header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 1px 1px 6px #000;
    text-transform: uppercase;
    position: relative;
}


header .fixed .brand-name a{
    color: #000000;
    
}


header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 40px;
    color: #000;
    text-shadow: 1px 1px 6px #000;
    display: block;
    font-weight: 600; 
    position: relative;
}

header .fixed .navbar ul li a{
    color: #000000;
    
}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width:0%;
    position: absolute;
    right: 0px;
    bottom:-1px;
    transition: all .5s ease;
}
header .fixed .navbar ul li a::before{
    background-color: #fe4a49;
}

header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
     width: 100%;
    left: 0;
}



/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/


.home{
    min-height: 100vh;
background-image: url(img/hero/p9.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
    

}


.home .full-screen{
    min-height: 100vh;
    
}
.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block{
    
    flex:0 0 75%;
    max-width: 75%;    
    padding-left: 35px;
    border-left: 5px solid #2C2121 ;
    margin-top: 50px;
}
.home .home-content .block h6{
    color: #fff;
    text-shadow: 1px 1px 6px #000;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
   
}
.home .home-content .block h1{
     color:#000 ;
     text-shadow: 3px 3px 9px #fff;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding:0;
    
}
.home .home-content .block h3{
    color: #fff;
    text-shadow: 1px 1px 6px #000;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    
}
.home .home-content .block .cv-btn{
    padding-top: 20px;
    
}

.home .home-content .block .cv-btn a{
    border-radius: 4px;
    color: #fff;
    text-shadow: 1px 1px 6px #000;
    border: 2px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease; 
    background-color: transparent;
}
.home .home-content .block .cv-btn a:hover{
    background-color: #ffffff;
    color: #000000;
}


/*--------------------------------------------------------------
# Section About Me
--------------------------------------------------------------*/



.about-me{
    padding: 100px 15px;
    background-color: #ffffff;
}

.about-me .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.about-me .section-title h1{
   
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
    
}
.about-me .section-title h1:before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color:#fe4a49  ;
    bottom: 0px;
    
}
.text-uppercase{
    text-transform: uppercase!important
}
.about-me .section-title p.small{
   
    display: block;
    font-size: 14x;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.about-me .about-content .img img{
    width: 100%;
    display: block;
    
}
.about-me .about-content .text{
   
     flex: 0 0 66.66%;
    max-width:66.66%;
    padding-left: 30px;
}
.about-me .about-content .text h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000000;
}
.about-me .about-content .text h6{
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
    color: #000000;
}
.about-me .about-content .text h6 span{
    color: #fe4a49 ;
    
    
}
.about-me .about-content .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color:#838383;
    margin: 0 0 20px;
    
}
.about-me .about-content .text .info{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.about-me .about-content .text .info .list{
    
    flex: 0 0 calc(50% - 15px);
    max-width: 0 0 calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
    
}
.about-me .about-content .text .info .list label{
    padding-right: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}
.about-me .about-content .text .info .list p{
    margin: 0;
     
}
.about-me .about-content .text .social-links{
   padding-top: 30px;
    
}

.about-me .about-content .text .social-links a{
    height: 30px;
    width:30px;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
}
.about-me .about-content .text .social-links a:hover{
    background-color: transparent;
}
.about-me .about-content .text .social-links a .fa{
    color: #ffffff;
    font-size: 12px;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
    
}
.about-me .about-content .text .social-links a:hover .fa{
    color: #000000;
    
}

/*--------------------------------------------------------------
# Hobbies Section
--------------------------------------------------------------*/



.hobbies{
background-color: #f5f8fd;
padding: 100px 15px 70px;
    
}
.hobbies .section-title h1:before{
    left: 30%;
     
}
.hobbies .hobbies-content{
   
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.hobbies .hobbies-content .box{
    background-color: #ffffff;
    padding: 30px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
     border-radius: 5px;
}
.hobbies .hobbies-content .box::before{
    content: '';
    height: 2px;
    background-color: #fe4a49;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}
.hobbies .hobbies-content .box:hover::before{
   width: 100%;
    
}

.hobbies .hobbies-content .box .icon{
  height: 60px;
    width: 60px;
    background-color:#fe4a49  ;
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;
   
    
}
.hobbies .hobbies-content .box .icon .fa{
    font-size: 25px;
    color: #ffffff;
    line-height: 60px;
    
}
.hobbies .hobbies-content .box h5{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}
.hobbies .hobbies-content .box p{
     font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color:#838383;
    margin: 10px 0 10px;
}

/*--------------------------------------------------------------
# My Skills Section
--------------------------------------------------------------*/


.skills{
    padding:100px 15px;
    background-color: #ffffff;
    
}
.skills .skills-content{
   
    flex: 0 0 50%;
    max-width: 50%;
    padding-right:40px;
        
}
.skills .img{
     flex: 0 0 50%;
    max-width: 50%;
}
.align-items-center{
   align-items: center;
}
.skills .img img{
    width: 100%;
    display: block;
    
    
}
.skills .skills-content .section-title p{
  font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color:#838383;
    margin: 15px 0 0;
}
.skills .skills-content .skill-box{
    
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;     
}
.skills .skills-content .skill-box h6{
  font-size:16px;
  font-weight: 500;
color: #000000;
    margin:0 0 8px;
    
}
.skills .skills-content .skill-box .skill-bar{
    height: 5px;
    background-color: #eeeeee;
    position: relative;
    
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in{
    background-color: #fe4a49;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in span{
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
}


/*--------------------------------------------------------------
# Portfolio Projects
--------------------------------------------------------------*/


.portfolio{
    background-color: #f5f8fd;
    padding: 100px 7px;
    
}
.portfolio.section-title h1:before{
    left: 30%;
     
}

.portfolio .filter-buttons{
    
    flex: 0 0 100%;
    max-width: 100%;
    
}
.portfolio .filter-buttons ul{
    list-style: none;
   text-align: center;
    padding: 0;
    
    
}
.portfolio .filter-buttons ul li{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
    
} 
.portfolio .filter-buttons ul li.active{
    color: #fe4a49;
    border-bottom: 2px solid #fe4a49;
}
.portfolio .filter-buttons{
 margin-bottom: 25px;   
}
.portfolio .portfolio-gallery{
   
    flex: 0 0 100%;
    max-width: 100%; 
    display: flex;
    flex-wrap: wrap;
    
}
.portfolio .portfolio-gallery .item{
 
    flex: 0 0 33.33% ;
    max-width: 33.33% ;
    position: relative;
    padding: 8px;
}
.portfolio .portfolio-gallery .item .inner{
    position: relative;
}
.portfolio .portfolio-gallery .item img{
    width: 100%;
    display: block;
    
}
.portfolio .portfolio-gallery .item .overlay{
position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}
.portfolio .portfolio-gallery .item:hover .overlay{
    opacity: 1;
    
}
.portfolio .portfolio-gallery .item .overlay .fa{
    height: 50px;
    width: 50px;
    background-color:#fe4a49 ;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    
}
.portfolio .portfolio-gallery .item:hover .overlay .fa{
  -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
}
@keyframes galleryIcon{
    0%{
        transform: translateY(-20px); opacity:0;
    }
     100%{
        transform: translateY(0px); opacity:1;
    }
}
.portfolio .portfolio-gallery .item .overlay h4{
    margin-top: 15px;
   font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    
}
.portfolio .portfolio-gallery .item:hover .overlay h4{
    -webkit-animation: galleryText .8s ease; 
     animation: galleryText .8s ease; 
}

@keyframes galleryText{
    0%{
        transform: translateY(20px); opacity:0;
    }
     100%{
        transform: translateY(0px); opacity:1;
    }
}

/*--------------------------------------------------------------
# LightBox Section
--------------------------------------------------------------*/

.lightbox{
    position: fixed;
    left: 0;
    top:0;
    right:0;
    bottom: 0;
    z-index: 100;
    background-color:rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    
}
.lightbox.show{
    display: flex;
    
}
.lightbox.hide{
    display: none;
    
}
.lightbox .close-lightbox{
    height: 35px;
    width: 35px;
    background-color: #ffffff; ;
    color:#fe4a49 ;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
    
    
}
.lightbox img{
    max-width: 90%;
    max-height: 80%;
    display: block;
}

/*--------------------------------------------------------------
# Section Of Message-Text
--------------------------------------------------------------*/


.message-text{
    background-color: #0c0c17;
    padding: 40px 15px;
    
}
.message-text .text{
    
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.message-text .text h2{
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 35px;
}
.message-text .button{
   
     flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: right;
    
}
.message-text .button a{
    
   border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease; 
    background-color: transparent;
}
 .message-text .button a:hover{
    background-color: #ffffff;
    color: #000000;
}


/*--------------------------------------------------------------
# Section Contact-us
--------------------------------------------------------------*/


.contact-us{
    padding: 100px 15px;
    background-color: #f5f8fd;
    
}
.contact-us .section-title h1:before{
    left: 30%;
    
}
.contact-us .contact-form{
    background-color: #ffffff;
    flex: 0 0 100%;
    max-width: 100%;
    padding:50px;
    border: 1px solid #eeeeee;
}
    
.contact-us .contact-form .text{
     flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
} 
.contact-us .contact-form .text h2{
font-size: 26px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
}
.contact-us .contact-form .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color:#838383;
    margin: 0px;
}

.contact-us .contact-form .space-between{
    justify-content: space-between;
}
.contact-us .contact-form .col-6{
    
    flex: 0 0 calc(50% - 15px);
    max-width:calc(50% - 15px) ;
}
.contact-us .contact-form .col-12{
    
    flex: 0 0 100%;
    max-width:100%;
}
.contact-us .contact-form .form-control{
    height:45px;
    width:100%;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins',sans-serif;
}
.contact-us .contact-form textarea .form-control{
    height: 140px;
}
.contact-us .contact-form .form-control::placeholder{
    color:#838383;  
}
.contact-us .contact-form .button {
    flex: 0 0 100%;
    max-width: 100%;
}
 .contact-us .contact-form .button a{
    
   border-radius: 4px;
    color: #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease; 
    background-color:#fe4a49 ;
     box-shadow: 0px 10px 15px #e8e8e8;
    
}
 .contact-us .contact-form  .button a:hover{
    background-color: #000000;
    color:#ffffff;
}


/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/


footer {
    padding: 70px 15px;
    background-color: #0c0c17;
    
}
 
footer .logo{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-weight: 900; 
}
footer .social {
     flex: 0 0 100%;
    max-width: 100%;
     text-align: center;
}

footer .social a{
    color: #999999;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
    text-decoration: none;
}
footer .social a:hover{
    color: #ffffff;
    
}


/*--------------------------------------------------------------
# Copyright Section
--------------------------------------------------------------*/


.copyright{
    background-color: #0c0c17;
    border-top:1px solid #1d1d27;
    padding: 15px;
}
.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    
}
.ham-burger .fa{
    font-size: 20px;
    height: 30px;
    width: 35px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
    border: 1px solid #eeeeee;
}

@media(max-width:991px){
    .home .home-content .block h1{
        font-size: 50px;
    }
}
@media(max-width:767px){
     .home .home-content .block h1{
        font-size: 40px;
    }
    .home .home-content .block h3{
        font-size: 25px;
    }
    header{
        padding: 15px;
        position: fixed;
        background-color: #ffffff;
        border: none;
        border-bottom:1px solid #eeeeee;
    }
    header .brand-name a{
        color: #000000;
        
    }
    .ham-burger .fa{
        display: inline-block;
    }
    .navbar{
     position: absolute;
     background-color: #ffffff;
     width: 100%;
     left: 0px;
     top: 60px;
     padding: 15px;
     border-top:1px solid #eeeeee;
     display: none;
     border-bottom:1px solid #eeeeee;  
    }
    .navbar.show{
        display: block;
    }
    header .navbar ul li{
        display: block;
        margin-left: 0;
    }
    header.navbar ul li a{
        line-height: 42px;
        color: #000000;
    }
    header.navbar ul li a::before{
        background-color: #fe4a49;
    }
    .about-me .about-content .text{
        flex: 0 0 100%;
        max-width:100%;
        padding-left: 0px;
        padding-top: 30px
    }
    .about-me .about-content .img{
        flex: 0 0 100%;
        max-width:100%;
    }
    .hobbies .hobbies-content .box{
        background-color: #ffffff;
        padding: 30px;
        flex:0 0 100%;
        max-width: 100%;
    }
    .skills .skills-content{
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0px;
    }
    .skills .img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .portfolio .portfolio-gallery .item{
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding: 8px;
    }
    message-text .text{
        flex: 0 0 100%;
        max-width:100; 
    }
    .message-text .button{
        flex: 0 0 100%;
        max-width: 100%;
        text-align:left;
        padding-top: 20px;
    }
    .contact-us .contact-form{
        padding:40px 20px;
    }
    .contact-us .contact-form .col-6{
         flex: 0 0 100%;
        max-width: 100%;
    }
}
    @media(max-width:500px){
     .home .home-content .block h1{
        font-size: 30px;
    }
    .home .home-content .block h3{
        font-size: 20px;
    }
        .home .home-content .block{
        padding-left: 20px;
            
        }
    
     .portfolio .portfolio-gallery .item{
        flex: 0 0 100%;
         max-width: 100%;
        }
        
    .about-me .about-content .text .info .list p {
    flex: 0 0 100%;
}
        
 /*--------------------------------------------------------------
# End Fichier Style.css
--------------------------------------------------------------*/
    